/* TODA LA BARRA DE NAVEGACION */
.navbar {
    background-color: rgba(53,58,64,255);
    padding-top: 0%;
}

/*LOGO*/
.d-inline-block {
    margin-left: 100px;
}

/*TITULO DE LA PAG*/
.navbar-brand {
    color: rgba(254,251,253,255);
    /*margin-right: 800px;*/
}

/* PESTAÑAS DE LA BARRA */

.navbar-collapse {
    flex-grow: 0;
    padding-right: 100px;
}

.nav-item1 a {
    color: rgba(254,251,253,255);
}

.nav-item a {
    color: rgba(142,150,155,255);
}

.nav-item2 a {
    color: rgba(46,143,69,255);
}

/*@media (min-width:1400px) {
    .navbar-brand {
        margin-right: 800px;
    }
}*/

/*IMAGEN CONFERENCIA*/
.wrap {
    width: 1903px;
    height: 700px;
    display:flex;
    align-items:center;
    background: linear-gradient(to bottom, rgb(0 0 0 / .5),rgb(0 0 0 / .5)),url(/integrador/assets/img/ba1.jpg);
    background-size:cover;
    background-position: left;
}

/*TEXTO CONFERENCIA*/
.wrap-txt {
    color: white;
    text-align:right;
    font-size:150%;
    margin-left: 1000px;
}

/*BOTON TICKETS CONFERENCIA*/
.btn1 {
    background-color: rgba(40,167,68,255);
    border-color: rgba(40,167,68,255);
    color: white;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    border: 2px rgba(40,167,68,255);
    font-size:100%;
}

/*BOTON ORADOR CONFERENCIA*/
.btn2 {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    font-size:100%;
}