/* TODA LA BARRA DE NAVEGACION */
.navbar {
    background-color: rgba(53,58,64,255);
    padding-top: 0%;
}

/*LOGO*/
.d-inline-block {
    margin-left: 100px;
}

/*TITULO DE LA PAG*/
.navbar-brand {
    color: rgba(254,251,253,255);
}

/* PESTAÑAS DE LA BARRA */
.navbar-collapse {
    flex-grow: 0;
    padding-right: 100px;
}

.nav-item1 a {
    color: rgba(254,251,253,255);
}

.nav-item a {
    color: rgba(142,150,155,255);
}

.nav-item2 a {
    color: rgba(46,143,69,255);
}

/*IMAGEN CONFERENCIA*/
#conferencia img {
    filter: brightness(50%);
    position: relative;
    overflow: hidden;
}

#conferencia .titulo{
    font-size: 3rem;
    color: white;
    font-weight: 500;
    position: absolute;
    top: 60%;
    left: 80%;
}

#conferencia .texto {
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    position: absolute;
    top: 80%;
    left: 50%;
}

#conferencia .btn1{
    font-size: 1rem;
    position: absolute;
    top: 95%;
    left: 84%;
}

#conferencia .btn2 {
    font-size: 1rem;
    position: absolute;
    top: 95%;
    left: 74%;
}

/*BOTON TICKETS CONFERENCIA*/
.btn1 {
    background-color: rgba(40,167,68,255);
    border-color: rgba(40,167,68,255);
    color: white;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    border: 2px rgba(40,167,68,255);
    font-size:100%;
}

/*BOTON ORADOR CONFERENCIA*/
.btn2 {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    font-size:100%;
}